<%= form_with(model: buy_item, local: true) do |form| %>
  <% if buy_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy_item.errors.count, "error") %> prohibited this buy_item from being saved:</h2>

      <ul>
      <% buy_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id, id: :buy_item_item_id %>
  </div>

  <div class="field">
    <%= form.label :cart_id %>
    <%= form.text_field :cart_id, id: :buy_item_cart_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
