<!DOCTYPE html>
<html>
  <head>
    <title>Anna's Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag "/public/stylesheets/datatable_page" %>
    <%#= stylesheet_link_tag "/public/stylesheets/datatable_table" %>
    <%#= javascript_include_tag '/public/javascripts/jquery.dataTables.min' %>
  </head>


  <body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= "Anna's Online Store" %>
    <span class="title"><%= @page_title %></span>
  </div>
  <div id="columns">
    <div id="side">
      <div>
      <p> <%= render_if @delay==false, "<p>hey</p>" %> </p>
      <p> <%= Time.now %> </p>
      <p>Yup still available (y)</p>
      <ul>
        <li><%= link_to 'Home', store_index_path %></li>
        <div class="tooltip"><li><a>Question</a></li>
          <span class="tooltiptext">wag mo nanaman pangunahan mga desisyon ko sa buhay cyst</span>
        </div>
        <li><a>News</a></li>
        <li><a>Contact</a></li>
      </ul>
      </div>
      <div id="cart">
        <%= render_if @cart && @cart.buy_items.any?, @cart %>

        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', items_path %></li>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  </body>
</html>